@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

main {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  justify-content: space-between;
  padding: 10vh 10vw;
}
main .service-presentation {
  display: flex;
  height: 50%;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
}
main .service-presentation__text {
  display: flex;
  height: auto;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
}
main .service-presentation__text-title {
  width: 70%;
  color: hsl(300, 43%, 22%);
  font-size: clamp(2.5rem, 3.5vw, 6.5rem);
}
main .service-presentation__text-content {
  width: 75%;
  color: hsl(303, 10%, 53%);
  line-height: 3.2vh;
  font-size: clamp(1rem, 1.2vw, 2.3rem);
  font-weight: 500;
}
main .service-presentation__rating {
  display: flex;
  height: auto;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
}
main .service-presentation__rating * {
  display: flex;
  height: 20%;
  width: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  font-size: clamp(1rem, 1.2vw, 2.3rem);
  border-radius: 0.6vw;
}
main .service-presentation__rating-2 {
  align-self: center;
}
main .service-presentation__rating-3 {
  align-self: flex-end;
}
main .service-presentation__rating-stars {
  height: 100%;
  width: 55%;
  justify-content: center;
  gap: 0.5vw;
}
main .service-presentation__rating-stars img {
  height: 30%;
  width: auto;
}
main .service-presentation__rating-text {
  height: 100%;
  justify-content: left;
  padding-top: 0.5vh;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
main .service-reviews {
  display: flex;
  height: 45%;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
}
main .service-reviews .reviewer {
  display: flex;
  height: 85%;
  width: 31.5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.6vw;
  padding: 4.5vh 2vw;
}
main .service-reviews .reviewer:nth-child(2) {
  align-self: center;
}
main .service-reviews .reviewer:nth-child(3) {
  align-self: self-end;
}
main .service-reviews .reviewer__profile {
  display: flex;
  height: 30%;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
}
main .service-reviews .reviewer__profile-image {
  border-radius: 50%;
}
main .service-reviews .reviewer__profile-info {
  display: flex;
  height: auto;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
}
main .service-reviews .reviewer__profile-name, main .service-reviews .reviewer__profile-description {
  font-size: clamp(1rem, 1.2vw, 2.3rem);
  font-weight: 500;
}
main .service-reviews .reviewer__profile-description {
  color: hsl(303, 10%, 53%);
}
main .service-reviews .reviewer__text {
  line-height: 125%;
  font-size: clamp(1rem, 1.2vw, 2.3rem);
}/*# sourceMappingURL=main.css.map */