@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$very_dark_magenta: hsl(300, 43%, 22%);
$soft_pink: hsl(333, 80%, 67%);
$dark_grayish_magenta: hsl(303, 10%, 53%);
$light_grayish_magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$h1_font_size: clamp(2.5rem, 3.5vw, 6.5rem);
$p_font_size: clamp(.85rem, 1.2vw, 2.3rem);

$font_weight_01: 400;
$font_weight_02: 500;
$font_weight_03: 700;

$default_border_radius: .6vw;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}