@mixin flexbox($height: auto, $width: auto, $flex-direction: row, 
               $justify-content: flex-start, $align-items: normal) {
    display: flex;
    height: $height;
    width: $width;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin background-pattern($width: auto) {
    width: $width;
    position: fixed;
    z-index: -1;
        
    img {
        width: 100%;
    }
}