@import './config', './mixins', './media-queries';

body {
    font-family: 'League Spartan', sans-serif;
}

main {
    @include flexbox(100vh, auto, column, space-between);
    padding: 10vh 10vw;

    .service-presentation {
        @include flexbox(50%);

        &__text {
            @include flexbox(auto, 50%, column, space-evenly);

            &-title {
                width: 70%;
                color: $very_dark_magenta;
                font-size: $h1_font_size;
            }

            &-content {
                width: 75%;
                color: $dark_grayish_magenta;
                line-height: 120%;
                font-size: $p_font_size;
                font-weight: $font_weight_02;
            }
        }

        &__ratings {
            @include flexbox(auto, 50%, column, space-evenly);
        }

        &__rating {
            @include flexbox(20%, 80%, row, space-evenly, center);
            background-color: $light_grayish_magenta;
            font-size: $p_font_size;
            border-radius: $default_border_radius;

            &:nth-child(2) {
                align-self: center;
            }

            &:nth-child(3) {
                align-self: flex-end;
            }

            &-stars {
                @include flexbox(100%, 40%, row, center, center);
                gap: .5vw;
    
                img {
                    height: 25%;
                    width: auto;
                }
            }

            &-text {
                @include flexbox(100%, 60%, row, left, center);
                padding-top: .5vh;
                font-weight: $font_weight_03;
                color: $very_dark_magenta;
            }
        }
    }

    .service-reviews {
        @include flexbox(45%, auto, row, space-between);

        .reviewer {
            @include flexbox(85%, 31.5%, column, space-between);
            background-color: $very_dark_magenta;
            color: $white;
            border-radius: $default_border_radius;
            padding: 4.5vh 2vw;

            &:nth-child(2) {
                align-self: center;
            }

            &:nth-child(3) {
                align-self: self-end;
            }

            &__profile {
                @include flexbox(30%, auto, row);
                gap: 1.4vw;

                &-image {
                    border-radius: 50%;
                }

                &-info {
                    @include flexbox(auto, auto, column, space-evenly);
                }

                &-name, &-description {
                    font-size: $p_font_size;
                    font-weight: $font_weight_02;
                }

                &-description {
                    color: $dark_grayish_magenta;
                }
            }

            &__text {
                line-height: 125%;
                font-size: $p_font_size;
            }
        }
    }
}

footer {
    .attribution {
        @include flexbox(12vh, 100%, column, center, center);
        font-size: $p_font_size;
        gap: 1vh;
        text-align: center;

        &__link {
            text-decoration: none;
            transition: .5s;
            color: $very_dark_magenta;
    
            &:hover {
                color: $soft_pink;
            }
        }
    }
}

.desktop-background {
    &__pattern-top {
        @include background-pattern(35%);
        top: 0;
    }

    &__pattern-bottom {
        @include background-pattern(70%);
        bottom: 0;
        right: 0;
    }
}

.mobile-background {
    display: none;
}